img{
    width: 240px;
    height: 250px;
}

mat-card{
    align-items: center;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-progress-spinner{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
}
